<div id="db_controls">
    <button onclick="migrate()">(CLIENT ONLY) migrate</button>
    <button onclick="send_test_log()">(CLIENT ONLY) test warning logs</button>
    <button onclick="send_test_log2()">(CLIENT ONLY) test debug logs</button>


    <button onclick="run_alg()">(SERVER ONLY) run algorithm </button>
</div>

<script>
    function migrate() {
        fetch("/internal/db_controls/migrate");
    }

    function send_test_log() {
        fetch("/internal/db_controls/log", {
            method: "POST",
            body: JSON.stringify({
                type: "WARNING",
                message: "SHEESH IS HAPPENING MY GUY, fix it pls"
            }),
            headers: {
                "Content-type": "application/json; charset=UTF-8"
            }
        });
    }

    function send_test_log2() {
        fetch("/internal/db_controls/log", {
            method: "POST",
            body: JSON.stringify({
                type: "debug",
                message: "just a debug, move on"
            }),
            headers: {
                "Content-type": "application/json; charset=UTF-8"
            }
        });
    }

    function run_alg() {
        fetch("/internal/run-algorithm")
    }
</script>