<h1>SERVER DASHBOARD IS NOT IMPLEMENTED YET</h1>
<div style="display: flex; justify-content: space-between;">
    <div>
        <label for="startdate">Start dato: </label>
        <input type="datetime-local" id="startdate" /><br>
        <label for="enddate">Slut dato: </label>
        <input type="datetime-local" id="enddate" />
        <br>
        <button id="simulate-button" onclick="send_dates_to_simulation(document.getElementById('startdate').value, document.getElementById('enddate').value)">Show
            data</button>
    </div>
    <div>
        <fieldset id="lower-bound-fieldset">
            <legend>Algoritm lower-bound distribution:</legend>
            <div class="range-select-body">
                <input type="range" id="lower-bound-range" name="points" min="0" max="10" oninput="set_range_alg_ui('lower-bound-range')" onchange="post_range_alg_ui('lower-bound-range')"> 
                <label for="points" id="lower-bound-range-label"></label>
            </div>
        </fieldset>
    
        <fieldset id="higher-bound-fieldset">
            <legend>Algoritm high-bound distribution:</legend>
            <div class="range-select-body">
                <input type="range" id="higher-bound-range" name="points" min="0" max="10" oninput="set_range_alg_ui('higher-bound-range')" onchange="post_range_alg_ui('higher-bound-range')"> 
                <label for="points" id="higher-bound-range-label"></label>
            </div>
        </fieldset>
    </div>
</div>

<script>
const fieldset = document.getElementById("lower-bound-fieldset");
const servers_data_promise = new Promise(resolve => fetch("/internal/algorithm_functions").then((response) => resolve(response.json())));

async function init_range_alg_ui() {
    const servers_data = await servers_data_promise;
    const elements = [["higher-bound-range", "higher_type"], ["lower-bound-range", "lower_type"]];
    elements.forEach(element => {
        let range = document.getElementById(element[0]);
        range.max = Object.entries(servers_data.distribution_functions).length - 1;
        range.value = servers_data.distribution_functions[servers_data[element[1]]];
        document.getElementById(`${element[0]}-label`).innerHTML = Object.keys(servers_data.distribution_functions)[range.value];
    })
}

async function set_range_alg_ui(id) {
    const servers_data = await servers_data_promise;
    let range = document.getElementById(id);

    document.getElementById(`${id}-label`).innerHTML = Object.keys(servers_data.distribution_functions)[range.value];
}

async function post_range_alg_ui(id) {
    const servers_data = await servers_data_promise;
    let range = document.getElementById(id);

    console.log(Object.keys(servers_data.distribution_functions)[range.value]);
    const data = {
        "algorithm_mode": Object.keys(servers_data.distribution_functions)[range.value],
        "type": id.includes("higher") ? "higher_type" : "lower_type"
    }

    const response = await fetch('/internal/algorithm_update', {
        method: 'POST',
        headers: {
            "Content-type": "application/json"
        },
        body: JSON.stringify(data)
    });  
}


init_range_alg_ui();
async function send_dates_to_simulation(start, end) {
    //console.log('start: '+start)
    //console.log('slut: '+end)
    document.getElementById("simulate-button").style.visibility = "hidden"; 
    const data = {
        firstDate: start,
        secondDate: end
    };

    const response = await fetch('/internal/simulate', {
        method: 'POST',
        headers: {
            "Content-type": "application/json"
        },
        body: JSON.stringify(data)
    });  

    if (response.ok) {
        document.getElementById("simulate-button").style.visibility = "visible"; 
    }
}
</script>