<h1>SERVER DASHBOARD IS NOT IMPLEMENTED YET</h1>
<!--

    <fieldset>
        <legend>Algoritm lower-bound distribution:</legend>
        <div class="radio-select-body">
            
            <div>
                <input type="radio" id="huey" name="drone" value="huey" checked />
                <label for="huey">Huey</label>
            </div>
            
            <div>
                <input type="radio" id="dewey" name="drone" value="dewey" />
                <label for="dewey">Dewey</label>
            </div>
            
            <div>
                <input type="radio" id="louie" name="drone" value="louie" />
                <label for="louie">Louie</label>
            </div>
        </div>
    </fieldset>
-->
    
<script>
    //let algorithm_modes = {"lowerbound": "hej", "upperbound"}
</script>