<style>

    #data-table-div{
        overflow: scroll;  
        width: 100%;
    }
    
    .energy-table {
        border: 1px;
        width: 100%;
        color: aliceblue;
        border-color: aliceblue;
    
    }
</style>



<div id="data-table-div" style="">

</div>
<canvas id="energy-graph" class="energy-graph" style="" onclick="getheight()"></canvas>

<script>
    let live_energy_data = [];
    let energy_data_max = 0;
    let point_loop_max_size = 120;
    let point_loop_size = 0;
    let energy_data_loaded = false;

    //failsafe incase reload occurs with graph selected
    if (graph_checkbox.checked) {
        document.getElementById("energy-graph").style.display="block"
        document.getElementById("data-table-div").style.display="none";
    }

    async function update_energy_data() {
        let url = "/api/energyRightNow"

        const data_promise = new Promise(resolve => fetch(url).then((response) => resolve(response.json())));
        const data = await data_promise;
        live_energy_data = data;
        let table_contents_string = "";
        energy_data_max = 0;
        live_energy_data.length > point_loop_max_size ? point_loop_size = point_loop_max_size : point_loop_size = live_energy_data.length;

        live_energy_data.forEach((record, index) => {
            if (index < point_loop_size) {
                let tmp_energy_size = 0;
                
                record.Exchange_Sum < 0 ? tmp_energy_size = record.Exchange_Sum * -1 : tmp_energy_size = record.Exchange_Sum; 

                tmp_energy_size > energy_data_max ? energy_data_max = tmp_energy_size : "" ; 

            }
            table_contents_string += `<tr>
                <td>${record.Minutes1UTC} </td>
                <td>${record.Minutes1DK} </td>
                <td>${record.ProductionGe100MW} </td>
                <td>${record.ProductionLt100MW} </td>
                <td>${record.SolarPower} </td>
                <td>${record.OffshoreWindPower} </td> 
                <td>${record.OnshoreWindPower} </td>
                <td>${record.Exchange_Sum} </td>
            </tr>`
        });
        let energy_table_string = `<table class="energy-table">
                                    <tr>
                                        <th> MinutesUTC </th>
                                        <th> MinutesDK </th>
                                        <th> ProductionGe </th>
                                        <th> Productionlt </th>
                                        <th> Solar Power </th>
                                        <th> Offshore Wind Power </th>
                                        <th> Onshore Wind Power </th>
                                        <th> Exchange Sum </th>
                                    </tr>
                                    ${table_contents_string}
                                </table>` 
        document.getElementById(`data-table-div`).innerHTML = energy_table_string;
        energy_data_loaded = true;
    }

    update_energy_data();
    setInterval(update_energy_data, 750); 

    const canvas = document.getElementById("energy-graph");
    const ctx = canvas.getContext("2d");


    setInterval(draw_canvas, 100, ctx, canvas);

    
    //TODO (NKC): Make tooltips for points on graph
    function draw_canvas(ctx, canvas) {
        if (energy_data_loaded) {
            let energy_pane_size = document.getElementById("column-left-bottom").getBoundingClientRect()
            let energy_topbar_size = document.getElementById("energy-topbar").getBoundingClientRect()
            canvas.height = energy_pane_size.height - energy_topbar_size.height - 25;
            canvas.width = energy_pane_size.width - 20;
            let canvas_middle = canvas.height/2;
            let canvas_padding = 20;

            ctx.clearRect(0, 0, canvas.width, canvas.height);

            //Shit is hardcoded, but it works and should be resolution independent
            let text_placement = [[-canvas.height*0.92, 1], [-canvas.height*0.70, 0.5], [-canvas.height*0.48, 0], [-canvas.height*0.26, -0.5], [-canvas.height*0.04, -1]];
            let color = `rgb(255,255,255)`
            ctx.font = "16px Arial";
            ctx.fillStyle = color;
            
            text_placement.forEach(placement => {
                ctx.save();
                ctx.translate(canvas.width-80, 0);
                
                ctx.scale(1, -1);

                ctx.fillText(`${Math.trunc(energy_data_max * placement[1])}MW`,10,placement[0]);
                ctx.restore();
            })
            

            

            for (i = 6; i < 176; i = i + 22) {
                ctx.beginPath();
                ctx.moveTo(0, canvas.height * (i/100));

                ctx.lineTo(canvas.width - 80, canvas.height * (i/100));

                ctx.strokeStyle = color;
                ctx.stroke();

            }
            let tmp_point_index = point_loop_size;
            let point_offset = (canvas.width - canvas_padding*6)/point_loop_size;
            let last_x = 0;
            let lasy_y = 0;

            for (i = point_loop_size - 1; i > -1; i--) {
                let x = 0;
                if (point_loop_size == 1) {
                    x = point_offset;
                } else {
                    x = point_offset * ((point_loop_size + 1) - i) ;

                }
                let y = canvas_middle + -(live_energy_data[i].Exchange_Sum/energy_data_max) * (canvas_middle - 20);
                let color = 0;
                console.log(x,y);
                live_energy_data[i].Exchange_Sum < 0 ? color = `rgb(153, 255, 0)` : color = `rgb(255, 153, 0)` 
                //Line draw
                ctx.beginPath();
                i != point_loop_size - 1 ? ctx.moveTo(last_x, lasy_y) : ctx.moveTo(x, y);

                ctx.lineTo(x , y);

                ctx.strokeStyle = color;
                ctx.stroke();
                
                //point draw
                ctx.beginPath();
                ctx.arc(x, y,3,0,2*Math.PI);
                ctx.fillStyle = color;
                ctx.fill();
                ctx.strokeStyle = color
                ctx.stroke();

                last_x = x;
                lasy_y = y;
            }
        }
    }

    function get_mouse_position(canvas, event) {
            let rect = canvas.getBoundingClientRect();
            let x = event.clientX - rect.left;
            let y = event.clientY - rect.top;
            console.log("Coordinate x: " + x,
                "Coordinate y: " + y);
        }
    
        canvas.addEventListener("mousemove", function (e) {
            get_mouse_position(canvas, e);
        }); 

    function getheight() {
        //console.log(document.getElementById("column-left-bottom-frame").offsetHeight);
        console.log(canvas.height);
    }
    
    
</script>