<div id="serverList">

</div>


<script>
    let server_list_component_requests = [];
    let servers;
    let selected_server;
    // Function to load the array of servers from the server
async function loadServers() {
    try {
        const response = await fetch('api/servers');
        servers = await response.json();
        
        const list = document.getElementById('serverList');
        let serverList = '';
        servers.forEach((server, index) => {
            let class_modifier = ""; 
            // Create a new list item for each server
            if (server.IP == selected_server) {
                class_modifier = "-selected"
            }
            server_list_component_requests.push([{
                    "type": "non-shared",
                    "name": "client_frame.html",
                    "placement": document.getElementById("column-left-top-frame"),
                    "tags": [{"serverURL": `"${server.IP}"`}, {"client_name": `${server.Name}` }],
                    "serverURL": `${server.IP}`
                }]);
            serverList += `<div class="pane-border${class_modifier} pane-servers" style="">
                                <div class="pane-servers-topbar">
                                    <div> ${server.Name} </div>
                                    <button id="${server.IP}-button" class="pane-servers-status ${server.State}" onclick="changeServerState('${server.Name}','${server.IP}-button')"></button> 
                                </div>
                                <div class="pane-servers-body" onclick='add_components_to_DOM(server_list_component_requests[${index}]), selected_server = "${server.IP}", loadServers()'>
                                    status: ${server.State}
                                    <br> 
                                    Current fill: ${server.LastKnownPercentage}% 
                                    <br> 
                                    URL: ${server.IP}
                                </div>
                            </div>`
            /*
            serverList += `<div state="${server.State}" class="server" id="${item.id}"> 
                Server: <span class="status"> ${server.Name} </span> 
                    <button class ="btn" onclick="changeServerState('${server.Name}', '${item.id}' )"></button>
                <br> 
                Current fill: ${server.LastKnownPercentage}% 
                <br> 
                URL: ${server.IP} 
            </div>`
            */
        });

        list.innerHTML = serverList;
    } catch (error) {
        console.log('Error fetching servers', error);
    }
}

async function changeServerState(serverName, elementID){ 
    const element = document.getElementById(elementID); 
    let server_state;
    servers.forEach(server =>{
        if (server.Name == serverName) {
            if (server.State != "not_init") {
                server_state = "not_init";
            } else {
                server_state = "idle";
            }
        }
    });

    const data = { 
        "Name": serverName, 
        "State": server_state
    }; 
    
    const response = await fetch('/api/updateServers', { 
        method: 'POST', 
        headers: { 
            'Content-Type': 'application/json' 
        }, 
        body: JSON.stringify(data)
    });
    if (response) {
        loadServers();
    }
}   

// Function to change the state of the server using the button
async function btnForChangingStateOfServer(){
   const btn = document.getElementsByClassName('btn')[0];
  try
  {
     const response = await fetch('api/servers');
     const servers = await response.json();

     servers.forEach(server => {

        if(server.State === "running"){
           server.State = "not_init";
           btn.style.background = "red";
           //console.log(server.State);
        }
        else if(server.State === "not_init"){
           server.State = "idle";
           btn.style.background = "yellow"
           //console.log(server.State);
        }
        else if(server.State === "idle"){
           server.State = "running";
           btn.style.background = "#04AA6D";
           //console.log(server.State);
        }
     });
  }
  catch (error) {
    console.log('Error fetching servers', error);
  }
}




loadServers()


</script>