<div id="serverList">

</div>


<script>
    let server_list_component_requests = [];
    let servers;
    let selected_server;
    // Function to load the array of servers from the server
async function loadServers() {
    try {
        const response = await fetch('api/servers');
        servers = await response.json();

        const list = document.getElementById('serverList');
        let serverList = '';
        servers.forEach((server, index) => {
            let class_modifier = "";
            let component_modifier = `add_components_to_DOM(server_list_component_requests[${index}]), selected_server = "${server.IP}"`
            // Create a new list item for each server
            if (server.IP == selected_server) {
                class_modifier = "-selected"
                component_modifier = `add_components_to_DOM(server_controls_component), selected_server = ""`

            }
            server_list_component_requests.push([{
                    "type": "non-shared",
                    "name": "client_frame.html",
                    "placement": document.getElementById("column-left-top-frame"),
                    "tags": [{"serverURL": `"${server.IP}"`}, {"client_name": `${server.Name}` }],
                    "serverURL": `${server.IP}`
                }]);
            serverList += `<div class="pane-border${class_modifier} pane-servers" style="">
                                <div class="pane-servers-topbar">
                                    <div> ${server.Name} </div>
                                    <button id="${server.IP}-button" class="pane-servers-status ${server.State}" onclick="changeServerState('${server.Name}','${server.IP}-button')"></button> 
                                </div>
                                <div id="pane-servers-body-${index}" class="pane-servers-body" onclick='${component_modifier}, loadServers()'>
                                    <div>
                                        URL: ${server.IP}
                                    </div>
                                    <div>
                                        <canvas id="server-canvas-${index}" ></canvas>
                                    </div>
                                </div>
                            </div>`
        });
        
        list.innerHTML = serverList;
    } catch (error) {
        console.log('Error fetching servers', error);
    }
    
    setInterval(update_server_canvases, 100, servers);
}

async function changeServerState(serverName, elementID){ 
    const element = document.getElementById(elementID); 
    let server_state;
    servers.forEach(server =>{
        if (server.Name == serverName) {
            if (server.State != "not_init") {
                server_state = "not_init";
            } else {
                server_state = "idle";
            }
        }
    });

    const data = { 
        "Name": serverName, 
        "State": server_state
    }; 
    
    const response = await fetch('/api/updateServers', { 
        method: 'POST', 
        headers: { 
            'Content-Type': 'application/json' 
        }, 
        body: JSON.stringify(data)
    });
    if (response) {
        loadServers();
    }
}

loadServers()

function update_server_canvases(servers) {
    for (let i = 0; i < servers.length; i++) {
        let canvas_size = document.getElementById(`pane-servers-body-${i}`).getBoundingClientRect().width / 4;
        const canvas = document.getElementById(`server-canvas-${i}`);
        const ctx = canvas.getContext("2d");

        canvas.height = canvas_size;
        canvas.width = canvas_size;

        let fill_percentage = 2 * (servers[i].LastKnownPercentage / 100);
        let lower_bound_fill_percentage = 2 * (servers[i].LowerBound / 100);
        fill_percentage < lower_bound_fill_percentage ? lower_bound_fill_percentage = fill_percentage : ""; 

        // Draw the outer circle
        ctx.beginPath();
        ctx.moveTo(canvas_size/2,canvas_size/2);
        ctx.arc(canvas_size/2, canvas_size/2, canvas_size/2.2, 1.5 * Math.PI, fill_percentage * Math.PI - 0.5 * Math.PI);
        ctx.fillStyle = 'blue';
        ctx.fill();

        // Draw the outer circle
        ctx.beginPath();
        ctx.moveTo(canvas_size/2,canvas_size/2);
        ctx.arc(canvas_size/2, canvas_size/2, canvas_size/2.2, 1.5 * Math.PI, lower_bound_fill_percentage * Math.PI - 0.5 * Math.PI);
        ctx.fillStyle = 'red';
        ctx.fill();

      
        // Set the globalCompositeOperation to 'destination-out' to make the inner circle transparent
        ctx.globalCompositeOperation = 'destination-out';

        // Draw the inner circle (will make the covered area transparent)
        ctx.beginPath();
        ctx.arc(canvas_size/2, canvas_size/2, canvas_size/3.5, 0, 2 * Math.PI);
        ctx.fill();
        ctx.stroke();

        var approx_font_height=parseInt(ctx.font);
        ctx.textAlign = "center"; 
        ctx.globalCompositeOperation = 'source-over';

        let color = `rgb(255,255,255)`
        ctx.font = "16px Arial";
        ctx.fillStyle = color;
        ctx.fillText(`${Math.trunc(servers[i].LastKnownPercentage)}%`, canvas_size/2, canvas_size/2+(approx_font_height/2));

    }
}


</script>