<style>
    h1 {color: blue;}

    body {background: linear-gradient(90deg, #A9F1DF, #FFBBBB);}

    table {
        border-collapse: collapse;
        margin: 10px;
        font-family: Arial;
        font-size: 16px;
        text-align: left;
    }

    td,tr,th{
    padding:10px;
}
#table-scroll{
  height:390;
  overflow:auto;  
  margin-bottom:20px;
  white-space:nowrap;

}

</style>



<!-- <div id="table-scroll">
    <p id="Test0"></p>
</div> -->

<script>
    //Fetcher data fra energinet api og ligger det over i variablen 'data'.
   async function fetchingAndShit() {
        var data = await fetch('https://api.energidataservice.dk/dataset/PowerSystemRightNow')
            .then((response) => response.json()).then((data => {
                console.log(data)
                let text = "<table border='1'>"
                text += "<tr>";
                for (let item in data.records[0]) {

                    if (data.records[0][item] != null) {
                        if (item.substring(0, 10) != "Exchange_D" && item.substring(0, 10) != "Exchange_B") {
                            text += `<th>${item}</th>`;

                        }
                    }
                }
                text += "</tr>";
                for (let i = 0; i < data.records.length; i++) {
                    text += "<tr>";
                    for (let item in data.records[i]) {
                        if (data.records[i][item] != null) {
                            if (item.substring(0, 10) != "Exchange_D" && item.substring(0, 10) != "Exchange_B") {

                                text += "<td>" + data.records[i][item] + "</td>";
                            }
                        }
                    }
                    text += "</tr>";
                }
                text += "</table>"
                document.getElementById(`Test0`).innerHTML = text;
            }))
    }


    fetchingAndShit(); 
    
   

</script>