<style>
    .not_init {
        color: #0000FF;
    }
    .idle {
        color: yellow;
    }
    .running {
        color: red;
    }
</style>

<h1>Test virker</h1>

<div id="table-scroll">
    <p id="Test0"></p>
</div>

<div class="test">
    <h1>Servers List</h1>
    <ul id="serverList"></ul>
</div>

<script>
    //Fetcher data fra energinet api og ligger det over i variablen 'data'.
    function fetchingAndShit() {
        var data = fetch('https://api.energidataservice.dk/dataset/EnergySurplusPrStationShort')
            .then((response) => response.json()).then((data => {
                console.log(data)
                let text = "<table border='1' width='500' height=100px;  >"
                text += "<tr>";
                for (let item in data.records[0]) {
                    text += `<th>${item} </th>`;
                }
                text += "</tr>";
                for (let i = 0; i < data.records.length; i++) {
                    text += "<tr>";
                    for (let item in data.records[i]) {
                        text += "<td>" + data.records[i][item] + "</td>";
                    }
                    text += "</tr>";
                }
                text += "</table>"

                document.getElementById(`Test0`).innerHTML = text;
            }))
    }

    // Function to load the array of servers from the server
    async function loadServers() {
        try {
            const response = await fetch('api/servers'); 
            const servers = await response.json();
            let serverID = 0;

            // Get the list element
            const list = document.getElementById('serverList'); 
            // Clear the list
            list.innerHTML = '';
            let serverList = '';
            // Loop through the servers
            servers.forEach(server => {
                // Create a new list item for each server
                const item = document.createElement('li');
                item.innerHTML = `${'Server Name:'} ${server.name} - ${'Last known percantage:'} ${server.lastKnownPercantage + '%'}  `;
                item.id = `server${serverID++}`;

                // Create a span element to display the state of the server
                const stateSpan = document.createElement('span');
                stateSpan.textContent = `${'Server State: '} ${server.state}`;
                // Set the color of the span element based on the state of the server
              
                serverList += `<li id="${item.id}">Server Name: ${server.name} - Last known percantage: ${server.lastKnownPercantage}% 
                 - <span class="${server.state}">Server State: ${server.state}</span> 
                 Change to: 
                    <select onChange="test(${id})">
                        <option value="not init">not init</option>
                        <option value="idle">idle</option>
                        <option value="running">running</option>
                    </select>
                </li>`


              //  item.appendChild(document.createTextNode(' - '));
              
                /*
                // Create a dropdown menu to change the state of the server
                const options = ["not init" ,"idle", "running"];
                const changeStateSelect = document.createElement('select',options);
                
                // Create a dropdown menu with the possible states
                options.forEach(optionValue => {
                    const optionElement = document.createElement('option');
                    optionElement.value = optionValue;
                    optionElement.textContent = optionValue;
                    optionElement.selected = server.state === optionValue;
                    changeStateSelect.appendChild(optionElement);
                });

                changeStateSelect.addEventListener('change',() => {
                    changeServerState(server.name, changeStateSelect.value);
                });
            
                item.appendChild(document.createTextNode(' Change to: '))
                item.appendChild(changeStateSelect);
                list.appendChild(item); 
*/
            });

            list.innerHTML = serverList;

        } catch(error) {
            console.log('Error fetching servers', error);
        }
    }

   async function test(serverID){
        console.log("test");
        //const response = await fetch('api/servers');
        
    }

    // Function to change the state of a server
    async function changeServerState(serverName, newState){
        try {
            // Send a POST request to the server to change the state
            const response = await fetch(`api/servers/${encodeURIComponent(serverName)}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ state: newState })
            });
            // If the request was successful, reload the server list
            if(response.ok) {
                console.log(`Server state updated for ${serverName}`);
            // document.getElementById('serverList').innerHTML = '';
                loadServers();
            } 
            // if the request was not succesful log an error
            else {
                console.error('Failed to change server state');
                alert('Failed to change server state');
            }

        } 
        catch(error) {
            console.error('Error changing server state', error);
            alert('Error changing server state');
        }
    }
    // This function allows to add styles for the pages, aswell as the components
    function addStyles(styles){
        let css = document.createElement('style');
        css.type = 'text/css';

        if(css.styleSheet) {
            css.styleSheet.cssText = styles;
        } 
        else {
            css.appendChild(document.createTextNode(styles));
        }

        document.getElementsByTagName('head')[0].appendChild(css);
    }


    // Tests styles 
    let style = 'h1 {color: blue;}';
    // style the select and options in a nice way
    let styles = `
    select {
        padding: 5px;
        margin: 5px;
        font-size: 16px;
        border-radius: 5px;
        border: 1px solid #ccc;
        background-color: #f8f8f8;
        color: #555;
        font-family: Arial;
    }`;
    // style the select options such that green is idle, red is running and blue is not init


    // keep the window.onload = loadServers function to loaded as the last thing
    let background = 'body {background: linear-gradient(90deg, #A9F1DF, #FFBBBB);}';
    // style the tables in a nice way
    let table = `
    table {
        border-collapse: collapse;
        width: 100%;
        margin: 10px;
        font-family: Arial;
        font-size: 16px;
        text-align: left;
    }`;

    let serverList = `
    #serverList {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;
        border: 1px solid #555;
        border-radius: 5px;
    }`;
    let cleanLook=`
td,tr{
    padding:10px;
}`;
let tableScroll=`#table-scroll{
  height: 500px;
  width: 100;
  overflow:auto;  
  margin-top:20px;
  white-space:nowrap;

}`;


    function init() {
        addStyles(serverList);
        addStyles(styles);
        addStyles(tableScroll);
        addStyles(cleanLook);
        addStyles(style);
        addStyles(table);
        addStyles(background);
        fetchingAndShit();
        loadServers();
    }
    init();

</script>