<style>
    table, th, td {
      border:1px solid black;
    }
</style>

<h1>Logs for {{ client_name }}: </h1>

<div id="">
    <table id="{{ logs_id }}" style="width:50%;">
        <tr>
            <th>Timestamp</th>
            <th>Log type</th>
            <th>Log Message</th>
        </tr>
    </table>
</div>
<script>
    async function load_request(url) {
        const response = await fetch(url);

        const data = response.json();

        return data;
    }
    async function init_logs() {
        let logs = await load_request("http://{{ serverURL }}/internal/logs/get_logs")
        let log_table_rows = "";
        logs.forEach(log => {
            log_table_rows += `<tr>
                                    <td>${log["timestamp"]}</td>
                                    <td>${log["type"]}</td>
                                    <td>${log["message"]}</td>
                                </tr>`
        });
        document.getElementById("{{ logs_id }}").innerHTML +=  log_table_rows;
       
    }
    init_logs();
</script>