

<div id="frame">

</div>

<style>
    #frame {
        width: 100%;
        height: 100%;
    }
</style>

<script>
        const frame = document.getElementById("frame");
        let components = [
                {
                    "type": "non-shared",
                    "name": "client_log.html",
                    "placement": frame,
                    "tags": [{"client_name": "bababa"}, {"logs_id": "log1"}, { "serverURL": {{ serverURL }} }],
                    "serverURL": "192.120.0.3:8083"


                },
                {
                    "type": "non-shared",
                    "name": "client_log.html",
                    "placement": frame,
                    "tags": [{"client_name": "bobobobo"}, {"logs_id": "log2"}, { "serverURL": {{ serverURL }} }],
                    "serverURL": "192.120.0.3:8083"
                }
            ]
            add_components_to_DOM(components);
</script>